<section class="contact" id="contact">
    <div class="app-container">
        <div class="wrapper">
            <div class="col-2 col-2--to-hide">
                <div class="svg-wrapper">
                <svg class="svg_image" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1200 1200" style="enable-background:new 0 0 26.799 26.799;" xml:space="preserve" stroke-width="10" stroke="black" fill="none">
                    <g class="envelope">
                        <rect class="envelope__border" x="0" y="225" rx="10" ry="10" width="1200" height="600" />
                        <path class="envelope__path" d="M2,228 L400 600 a400 800 0 0 0 350 0 L1198 228"/>
                     </g>
                     <g class="envelope__shadows">
                         <rect class="envelope__shadow" x="600" y=400 width="0" height="3"/>
                         <rect class="envelope__shadow--long" x="650" y=500 width="0" height="3"/>
                         <rect class="envelope__shadow" x="600" y=600 width="0" height="3"/>
                     </g>
                </svg>
                </div>
            </div><!--col-2-->
            <div class="col-2 col-2--to-scroll">
                <h2 class="contact__header"><%=data.contactHeader%></h2>
                <span class="contact__text"><%=data.emailMe%><a href="mailto:work.pmarcinkowski@gmail.com">work.pmarcinkowski@gmail.com</a></span>
                <span class="contact__text"><%=data.fillTheForm%></span>
                <form action="/contact" method="POST" class="form-wrapper">
                    <div class="contact-form">
                        <div class="contact-form__item">
                            <label class="contact-form__label" for="#contact-name"><%=data.form.name%></label>
                            <input type="text" name="contact-name" id="contact-name" class="contact-form__input" placeholder="<%=data.form.namePlaceholder%>" required>
                        </div>
                        <div class="contact-form__item">
                            <label class="contact-form__label" for="#contact-email"><%=data.form.email%></label>
                            <input type="email" name="contact-email" id="contact-email" class="contact-form__input" placeholder="<%=data.form.emailPlaceholder%>" required>
                        </div>
                        <div class="contact-form__item">
                            <label class="contact-form__label" for="#contact-message"><%=data.form.message%></label>
                            <textarea name="contact-message" id="contact-message" class="contact-form__textarea" placeholder="<%=data.form.messagePlaceholder%>" maxlength="300" required></textarea>
                        </div>
                        <div class="contact-form__item">
                            <button type="submit" class="contact-form__submit"><%=data.form.send%></button>
                        </div>
                    </div>
                </form>
            </div><!--col-2-->
        </div><!--wrapper controls clipping-->
    </div><!--app-conainer controls the width-->
</section>
