<section class="why-me" id="why-me">
    <div class="app-container">
        <div class="wrapper">
            <div class="col-2">
                <div class="svg-wrapper">
                <svg class="svg_image" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1200 1200" style="enable-background:new 0 0 26.799 26.799;" stroke-width="3" stroke="white" fill="none">

                     <text class="question-mark" x="400" y="725" font-size="600" stroke="none" fill="white">
                        ?
                     </text>
                     <text class="period" x="414" y="725" font-size="600" stroke="none" fill="white">
                        .
                     </text>
                </svg>
                </div>
            </div><!--col-2-->
            <div class="col-2">
                <h2 class="why-me__header"><%=data.whyMeHeader%></h2>
                <span class="why-me__text"><b><%=data.whyMe.reason_1.reason%></b><%=data.whyMe.reason_1.text%></span>
                <span class="why-me__text"><b><%=data.whyMe.reason_2.reason%></b><%=data.whyMe.reason_2.text%></span>
                <span class="why-me__text"><b><%=data.whyMe.reason_3.reason%></b><%=data.whyMe.reason_3.text%></span>
            </div><!--col-2-->
        </div><!--wrapper controls clipping-->
    </div><!--app-conainer controls the width-->
</section>
