<section class="projects" id="projects">
    <h2 class="projects__header">Projects</h2>
    <div class="app-container app-container--projects">
        <%dataPL.projects.map(function(item){%>
            <div class="card-wrapper">
                <div class="card">
                    <div class="card__image" style="background-image: url('<%=item.image%>')">
                        <h4 class="card__header"><%=item.name%></h4>
                    </div>
                    <h5 class="card__description"><%=item.description%></h5>
                    <span class="card__technologies"><strong>Technologies:</strong> <%=item.technologies%></span>
                    <div class="card__actions">
                        <a href="<%=item.live%>" class="card__button">
                            <span class="card__button-text">View</span>
                            <svg class="card__button-svg" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"/>
                                <path d="M21 2H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h7v2H8v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H3V4h18v12z"/>
                            </svg>
                        </a>
                        <a href="<%=item.code%>" class="card__button">
                            <span class="card__button-text">Code</span>
                            <svg class="card__button-svg" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0V0z" fill="none"/>
                                <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        <%});%>


    </div>
</section>
